blinker==1.9.0
certifi==2023.11.17
click==8.1.7
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Limiter==3.5.0
limits==3.8.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
Werkzeug==3.1.3
python-dotenv==1.0.0
environs==9.5.0
